.my-posts {
    display: flex;
    flex-direction: column;
}

.my-posts__title {
    text-align: center;

}

.my-posts__button-block {
    display: flex;
    flex-direction: column;
}
.button-block {
    margin-top: 20px;
}
.button-block__buttom {
    margin-right: 10px;
    padding: 5px;
}